.playerContainer {
    width: 100vw;
    height: 110px;
    position: fixed;
    bottom: 0%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba($color: #D27B7B, $alpha: 1);
    z-index: 10;

    .Container {

        display: flex;
        justify-content: space-between;

        .allbumContainer {
            width: 110px;
            height: 110px;

            img {
                width: 110px;
                height: 110px;
                object-fit: cover;
            }
        }

        .musicPlayInfo {
            display: grid;
            grid-template-rows: 1fr 1fr;
            width: 500px;
            align-items: center;

            .musicinfo {
                display: grid;
                grid-template-columns: 1fr 1fr;
                font-family: 'Courier New', Courier, monospace;
                font-size: 20px;

                .musicAndSinger {
                    text-align: start;

                    .musicName {
                        color: black;

                        &::after {
                            width: 30px;
                            height: 0px;
                            content: ' ';
                        }
                    }

                    .singerName {
                        font-size: 15px;
                        color: #FCFCFC;
                    }
                }

                .playingTime {
                    text-align: end;
                }

            }

            .playaxis {
                width: 100%;
                height: 10px;
                background-color: rgba($color: #fff, $alpha: 1);
                border-radius: 10px;
                cursor: pointer;

                .progess {
                    width: 10%;
                    height: 10px;
                    background-color: rgba($color: #fff, $alpha: 1);
                    border-radius: 10px;

                }
            }
        }

        .voice {
            width: 184px;
            display: grid;
            grid-template-columns: 1fr 4fr;
            align-items: center;

            .voiceIcon {
                width: 28px;
                height: 28px;
                background-image: url('../../assets/voice.svg');
                background-position: center;
                background-size: cover;
                transition: all 0.2s ease-in-out;
                cursor: pointer;

                &:hover {
                    background-image: url('../../assets/voicehover.svg');
                }
            }

            .voiceAxis {
                width: 100%;
                height: 10px;

                background-color: rgba($color: #D27B7B, $alpha: 0.2);
                border-radius: 10px;
                cursor: pointer;

                .progess {
                    width: 10%;
                    height: 10px;
                    background-color: rgba($color: #D27B7B, $alpha: 1);
                    border-radius: 10px;

                }
            }
        }

        .colletcion {
            display: flex;
            align-items: center;
            .collections {
                width: 28px;
                height: 28px;
                background-image: url('../../assets/collectionsvg.svg');
                background-position: center;
                background-size: cover;
                transition: all 0.2s ease-in-out;
                cursor: pointer;
                line-height: 110px;
            }
            .collectioned {
                width: 28px;
                height: 28px;
                background-image: url('../../assets/collectioned.svg');
                background-position: center;
                background-size: cover;
                transition: all 0.2s ease-in-out;
                cursor: pointer;
                line-height: 110px;
            }
        }
    }

}