
[submodule "frotend"]
	path = frotend
	url = https://github.com/Freya-tian/musicplayer.git
	branch = frontend
[submodule "server"]
	path = server
	url = https://github.com/Freya-tian/musicplayer.git
	branch = server
