.hearContainer {
    width: 100vw;
    height: 60px;
    background-color: rgba($color: #D27B7B, $alpha: 0.2);
    position: fixed;
    display: flex;
    justify-content: center;
    z-index: 10;

    .Container {

        display: flex;
        justify-content: space-between;
        align-items: center;
        position: relative;

        .LOGOContainer {
            .logo {
                width: 50px;
                height: 50px;
            }

        }

        .MenuContainer {
            width: 250px;
            display: flex;
            justify-content: space-between;
            font-family: Arial, Helvetica, sans-serif;
            font-size: 17px;
            color: #D27B7B;

            .vistedSite {
                color: #A35C5C;
                font-weight: bolder;
            }

            .musicHall {
                position: relative;

                span::after {
                    content: " ";
                    display: inline-block;
                    width: 8px;
                    height: 8px;
                    text-align: end;
                    border-right: 2px solid #A35C5C;
                    border-bottom: 2px solid #A35C5C;
                    transform: rotate(45deg);
                    position: relative;
                    margin-left: 5px;
                    margin-bottom: 3px;
                    transition: all 0.5s ease-in-out;
                }

                .secondMenu {
                    display: none;
                    width: 100px;
                    height: 160px;
                    position: absolute;
                    background-color: #E4A0A0;
                    color: #FCDADA;
                    font-weight: normal;
                    padding: 0;
                    margin: 0;

                    a {
                        display: block;
                        height: 40px;
                        line-height: 40px;
                        text-align: center;

                        &:hover {
                            color: #A35C5C;
                        }
                    }
                }

                &:hover {
                    &>span::after {
                        transform: rotate(225deg);
                        margin-bottom: 0px;
                    }

                    .secondMenu {
                        display: block;

                    }
                }
            }

            .musicHall,
            .myMusic {
                cursor: pointer;
                height: 60px;
                line-height: 60px;

                &:hover {
                    color: #A35C5C;
                }
            }





        }

        .searchContainer {
            width: 280px;
            display: flex;
            border-radius: 15px;

            .searchInput {
                width: 250px;
                height: 30px;
                background-color: rgba($color: #D27B7B, $alpha: 0.25);
                border: 0;
                border-radius: 15px 0 0 15px;
                outline: #D27B7B;
                vertical-align: bottom;
                padding: 10px;
            }

            .search {
                display: flex;
                width: 30px;
                height: 30px;
                border-radius: 0px 15px 15px 0px;

                background-color: rgba($color: #D27B7B, $alpha: 0.25);

                justify-content: center;
                align-items: center;
                cursor: pointer;

                .searcIcon {
                    cursor: pointer;

                    display: flex;
                    justify-content: center;


                }

                &:hover {
                    background-color: rgba($color: #A35C5C, $alpha: 0.25);

                    svg path {
                        fill: #A35C5C;
                    }
                }

            }

        }

        .userContainer {
            width: 38px;
            height: 38px;
            border-radius: 50%;
            // background-color: #E4A0A0;
            background-image: url('/src/assets/user.svg');
            background-position: center;
            background-size: cover;
            background-repeat: no-repeat;
            cursor: pointer;

            &:hover {
                background-color: rgba($color: #A35C5C, $alpha: 0.25);

            }
        }

        .userContainer_Logined {
            width: 100px;
            height: 38x;

            display: flex;
            justify-content: space-between;

            .messageUser {
                position: relative;
                width: 38px;
                height: 38px;

                .messageaIcon {

                    width: 38px;
                    height: 38px;
                    border-radius: 50%;
                    object-fit: cover;
                    cursor: pointer;
                }

                .countMessage {
                    position: absolute;
                    top: 0;
                    right: 0;
                    background-color: red;
                    width: 13px;
                    height: 13px;
                    border-radius: 50%;
                    font-size: 10px;
                    text-align: center;
                    line-height: 13px;
                    color: #fff;
                }
            }

            .loginUser {
                width: 38px;
                height: 38px;
                border-radius: 50%;

                img {
                    width: 38px;
                    height: 38px;
                    border-radius: 50%;
                    object-fit: cover;
                    cursor: pointer;

                }
            }
        }

        .messagesContainer {
            width: 300px;
            position: absolute;
            right: -50px;
            top: 80px;
            background-color: #fff;
            border-radius: 30px;

            li {
                display: grid;
                grid-template-columns: 30px auto;
                
                margin: 20px 10px;
                .replyAvatar {
                    width: 30px;
                    height: 30px;
                    margin-top: 10px;

                    img {
                        width: 100%;
                        height: 100%;
                        object-fit: cover;
                        border-radius: 50%;
                    }
                }
                .contentContainer{
                    
                    padding: 10px 15px;
                    display: grid;
                    grid-template-rows: 15px auto 15px;
                    background-color: #fff;
                    border-radius: 10px;
                    .user_nick{
                        font-size: 15px;
                        color: dimgrey;
                    }
                    .time{
                        font-size: 15px;
                        padding: 0 30px;
                        color:gray ;
                        font-family:'Times New Roman', Times, serif;
                    }
                    .content{
                        font-size: 20px;
                        color: black;
                        font-family:'Times New Roman', Times, serif;
                        
                    }
                    .opretion{
                        font-size: 15px;
                        font-weight: 450;
                        text-align: end;
                        cursor: pointer;
                        &:hover{
                            color: #D27B7B;
                        }
                    }
                    
                }
               
            }
            .inputText {
                grid-column: 1/3;
                display: flex;
                justify-content: space-around;
                align-items: end;
                #textareaHigh {
                    width: 200px;
                    padding: 3px 5px;
                    height: 50px;
                    border-radius: 5px;
                    border: 0;
                    display: flex;
                    align-items: end;
                    font-size: 14px;
                    border: 1px solid;
                    justify-content: space-between;
        
                    textarea {
                        width: 150px;
                        list-style: none;
                        font-size: 18px;
                        line-height: 20px;
                        border-radius: 5px;
                        border: 0;
                        resize: none;
                        height: 100%;
                        outline: none;
                        overflow-y: auto;
                    }
                }
        
                input {
                    width: 40;
                    height: 30px;
                    border: 0;
                    border-radius: 10px;
                    cursor: pointer;
                    
        
                    &:hover {
                        background: rgba(210, 123, 123, 0.5);
        
                    }
        
                }
        
            }

        }
    }
}

.scrolled {
    background-color: rgba($color: #D27B7B, $alpha: 1);

    .Container {
        .MenuContainer {
            color: #fff
        }

        .searchContainer {
            background-color: rgba($color: #fff, $alpha: 0.25);

            .search:hover {
                background-color: rgba($color: #FCDADA, $alpha: 0.1);
            }

        }

        // .search {border-radius: 0px 15px 15px 0px;}
        .userContainer:hover {
            background-color: rgba($color: #FCDADA, $alpha: 0.1);

        }
    }

}